
main {
    width: 100%;
    min-height: 100vh; /* altura da tela inteira */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    background-color: #FFFFFF;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* Formulário */
#formulario {
    min-height: 300px;
    /* background-color: red; */
}

#secao-cadastro {
    width: 100px;
    height: 100px;
    /* background-color: blue; */
}

.estilo-formulario {
    /* border: var(--borda); */
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branco);
}

/* Informação do aplicativo */
.informacao-aplicativo {
    background-color: chocolate;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-branco);
    font-weight: 400;
    
}

/* Seção de instalação (botões) */
#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#secao-instalacao img {
    width: 133; 
    height: 39px; 
}



